@import url('https://fonts.googleapis.com/css?family=Manrope');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500');
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset default browser styles */

ul {
  font-family: 'Source Code Pro', monospace;
  list-style: '\2714';
  padding-left: 1.2em;
}

li {
  padding-left: 1em;
}

li a {
  display: block;
}

#nav-links li {
  opacity: 0;
}

#nav-links.visible li:nth-child(1) {
  animation: showbitch 0.3s forwards linear;
  animation-iteration-count: 1;
}

#nav-links.visible li:nth-child(2) {
  animation: showbitch 0.3s forwards linear;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}

#nav-links.visible li:nth-child(3){
  animation: showbitch 0.3s forwards linear;
  animation-iteration-count: 1;
  animation-delay: 0.2s;
}

#nav-links.visible li:hover {
  opacity: 1;
  animation: movebitch 0.3s forwards linear;
  animation-iteration-count: 1;
}

@keyframes movebitch {
  100% {
    transform: translateX(0.8em);
  }
}

@keyframes showbitch {
  100% {
      opacity: 1;
   }
}

/* Global styles */
body {
  font-family: 'Manrope', monospace, sans-serif;
  background-color: black;
}

h1, h2, h3, h4, a {
  font-family: 'Manrope', monospace, sans-serif;
  padding-bottom: 1em;
  letter-spacing: 0.1em; /* Adjust as needed */
}

.toright {
  text-align: right;
}

.nopadding {
  padding: 0;
}

.androidchrome {
  margin-top: min(-18.8vw, -10.4em);
}

.iossafari {
  margin-top: min(-9.4vw, -5.2em);
}

.minpadding {
  padding: 0;
  padding-bottom: 0.3em;
}

p, div {
  padding-bottom: 1em;
}

.white {
  fill: white; /* Apply white color to SVG logo */
  color: white; /* Apply white color to menu button and close button */
}

.navbar {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

#nav-links {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 7.5em; 
  left: 0;
}

#nav-links.visible {
  display: block;
}

#nav-links li {
  display: block;
}

#nav-links li a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-family: 'Manrope', monospace, sans-serif;
}

/*
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 6em;
  background-color: white;
  color: #4D5432;
  text-align: center;
  border-radius: 4px;
  padding: 0.2em;
  position: absolute;
  z-index: 1;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -4px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
*/
.visible {
  display: block !important;
}

.transparent {
  background-color: rgba(1, 1, 1, 0.78); /* Set the background color with transparency */
  -webkit-transition: background-color 450ms linear;
  -ms-transition: background-color 450ms linear;
  transition: background-color 450ms linear;
}

.navbar {
  padding: min(2vw, 2em);
}

#logo,
#menu-btn,
#menu-btn-x {
  margin: 0;
  padding: 0;
  width: min(10.4vw, 6.4em); 
  height: min(10.4vw, 6.4em); 
}

#logo,
#menu-btn,
#menu-btn-x,
#hi {
  cursor: pointer;
  background-color: transparent;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes stroke{
  to{
    stroke-dashoffset: 0%;
  }
}
@keyframes fade{
  to{
    opacity: 1;
  }
}

section {
  font-size: min(2.5em,3.7vw);
  padding: 2em;
  padding-left: 28px;
  padding-right: 28px;
  clear: both;
} 

#nav-links {
  font-size: min(2.5em,3.7vw); 
  padding-left: 28px;
  padding-right: 28px;
  min-height: 100vh;
}

.section-home {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.section-about, .section-work1, .section-work3 {
  align-items: center;
}

.section-contact {
  align-items: center;
  text-align: center;
}

#home > video {
  top: 0;
  left: 0;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  object-fit: initial;
}

.overlayText {
  text-align: center;
  width: 100%;
  padding: 0;
  z-index: 1;
}

#binary {
  font-size: 1.5em;
  text-shadow: 2px 2px 4px green, 0 0 0.1em green, 0 0 0.2em green;
  letter-spacing: 0.11em; /* Adjust as needed */
}

#caret {
  font-size: 1.7em;
  color: orange;
  animation: blink-caret 0.5s step-end infinite;
}

footer {
  color: black;
  font-size: min(1.5em,2vw); 
  padding: 1em;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  section, #nav-links {
    font-size: min(2.1em,2.3vw);
    padding-left: 40px;
    padding-right: 40px;
  }

  footer {
    padding-left: 40px;
    padding-right: 40px; 
  }
}

@media only screen and (min-width: 800px) {
  section, #nav-links {
    font-size: min(2.3em,3.1vw);
  }
}

@media only screen and (min-width: 1000px) {
  #logo,
  #menu-btn,
  #menu-btn-x {
    width: min(9.4vw, 5.2em); 
    height: min(9.4vw, 5.2em); 
  }

  section, #nav-links {
    font-size: min(1.8em,2vw); 
    padding-left: 290px;
    padding-right: 290px;
  }
  
  .section-home {
    font-size: min(1.9em,4.5vw);
  }

  footer {
    padding-left: 290px;
    padding-right: 290px;
  }
}

@media only screen and (min-width: 1150px) {
  section, #nav-links {
    font-size: min(1.7em,1.9vw);
    padding-left: 310px;
    padding-right: 310px;
  }

  footer {
    padding-left: 310px;
    padding-right: 310px;
  }
}

#menu-btn {
  animation: menu-btn-x-animation 1s forwards;
}

#menu-btn:hover, #menu-btn-x:hover {
  animation: menu-btn-animation 1.6s forwards infinite;
}

@keyframes menu-btn-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#menu-btn-x {
  animation: menu-btn-x-animation 1s forwards;
}

@keyframes menu-btn-x-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

img {
  display: block;
  margin: auto;
  text-align: center;
  height: auto;
}

.imgsvg {
  width: 88%;
}

.imgseo {
  width: 75%;
}

.imgweb {
  width: 69%;
}

.imgdef {
  width: 100%;
}


#para2 {
  /* The image used */
  background-image: url("assets/seo-optimization.avif");

  /* Set a specific height */
  height: 30vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

#para1 {
  /* The image used */
  background-image: url("assets/doodle.avif");

  /* Set a specific height */
  height: 60vh;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hi {
  padding: 15px 28px;
  margin: 8px;
  display: block;
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid black;
}

/*===================*/
/* HANG
/*===================*/

@-webkit-keyframes hang-on-hover {
  0% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
}
@keyframes hang-on-hover {
  0% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
  80% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  100% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
}
@-webkit-keyframes hang-on-hover-sink {
  100% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
}
@keyframes hang-on-hover-sink {
  100% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
  }
}
.hang-on-hover {
  display: inline-block;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hang-on-hover {
  -webkit-animation-name: hang-on-hover-sink, hang-on-hover;
  animation-name: hang-on-hover-sink, hang-on-hover;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

#email {
  cursor: pointer;
  color: #ddf7dc;
  text-decoration: none;
  padding-bottom: 0.2em;
  text-shadow: 0 0 0.5px #ddf7dc;
}

.card h4, .card p, .card div, .card a {
  font-family: 'Source Code Pro', monospace;
}

.card {
  margin-top: min(1.9em,4.5vw);
  margin-bottom: min(1.9em,4.5vw);
  width: 700px;
  height: 400px;
  padding: min(1.9em,4.5vw);
  font-family: 'Source Code Pro', monospace;
  text-shadow: 0 0 0.5px #ddf7dc;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   width: calc(var(--card-size) * 1.586);
   height: var(--card-size);
   border-radius: min(2.2em,2.8vw);
   box-shadow:  0 6px 15px 1px rgba(0,0,0,0.6), 0 0 0 1px rgba(0, 0, 0, 0.3);
   background: black;
   color: #ddf7dc;
   will-change: transform;
   transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.card:hover {
  transform: scale(1.1);
  box-shadow:  0 32px 80px 14px rgba(0,0,0,0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
}
