@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru');

/* Reset default browser styles */
body, p, ul, li, div, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', monospace, sans-serif;
}

/* Global styles */
body {
  display: flex;
  flex-direction: column;
  background-color: #4D5432;
}

main {
  flex: 1;
}

h1, h2, h3, h4 {
  font-family: 'Kosugi Maru', monospace, sans-serif;
  padding-bottom: 1em;
}

p {
  padding-bottom: 1em;
}

li {
  list-style-type: none;
}

.white {
  fill: white; /* Apply white color to SVG logo */
  color: white; /* Apply white color to menu button and close button */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

#nav-links {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 24vh;
  left: 0;
}

#nav-links.visible {
  display: block;
}

#nav-links li {
  display: block;
  margin-bottom: 10vh;
}

#nav-links li a {
  cursor: crosshair;
  color: white;
  text-decoration: none;
  font-size: 8vh;
  padding-left: min(15vw, 2em); /* Set the left padding to match the section padding */
}

.visible {
  display: block !important;
}

.section-home {
  color: white;
  display: flex;
  align-items: center;
}

.section-about {
  color: black;
  display: flex;
  align-items: center;
}

.section-work {
  color: black;
}

.section-contact {
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.6); /* Set the background color with transparency */
  -webkit-transition: background-color 450ms linear;
  -ms-transition: background-color 450ms linear;
  transition: background-color 450ms linear;
}

.navbar {
  padding: min(3.5vw, 3.5em);
}

#logo,
#menu-btn,
#menu-btn-x {
  width: min(12vw, 4em); 
  height: min(12vw, 4em); 
}

#logo,
#menu-btn,
#menu-btn-x {
  cursor: crosshair;
}

section {
  font-size: min(2.5em,5vw); 
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: max(7vw, 1em); 
  padding-right: max(7vw, 1em); 
  min-height: calc(100vh - 6em);
}

footer {
  color: black;
  font-size: min(0.8em,3vw); 
  padding: 1em;
  text-align: center;
}

/*
@media only screen and (max-width: 20em) {
  #logo,
  #menu-btn,
  #menu-btn-x {
    width: 5em;
    height: 5em;
  }

  section {
    font-size: 3.5em;
    padding-left: 1.3em;
    padding-right: 1.3em;
  }

  .navbar {
    padding: 2.8em;
  }

  footer {
    font-size: 0.6em;
  }
}*/
