@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* Reset default browser styles */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace, sans-serif;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 2.2em;
  background-color: #CAB565;
}

main {
  flex: 1;
}

.logo,
#menu-btn,
#menu-btn-x {
  width: 2em;
  height: 2em;
}

#menu-btn,
#menu-btn-x {
  cursor: pointer;
}

.navbar {
  color: #fff;
  padding: 2em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

#nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 24vh;
  left: 0;
}

#nav-links.visible {
  display: block;
}

#nav-links li {
  display: block;
  margin-bottom: 10vh;
}

#nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 8vh;
  padding-left: min(15vw, 2em); /* Set the left padding to match the section padding */
}

.visible {
  display: block !important;
}

section {
  font-size: 1.2em;
  padding: 5em 2em;
  min-height: calc(100vh - 10em);
}

.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-work {
  color: white;
}

footer {
  color: black;
  font-size: 0.4em;
  padding: 1em;
  text-align: center;
}

@media (min-width: 768px) {
  .logo,
  #menu-btn,
  #menu-btn-x {
    width: 2.5em;
    height: 2.5em;
  }
}

/* Styles for tablets and larger screens */

@media (min-width: 1024px) {
  .logo,
  #menu-btn,
  #menu-btn-x {
    width: 2em;
    height: 2em;
  }
}
